pkgbase = dracut
	pkgdesc = An event driven initramfs infrastructure
	pkgver = 060
	pkgrel = 1
	url = https://github.com/dracut-ng/dracut-ng
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = asciidoc
	makedepends = bash-completion
	makedepends = git
	depends = bash
	depends = coreutils
	depends = cpio
	depends = filesystem
	depends = findutils
	depends = gawk
	depends = grep
	depends = kmod
	depends = pkgconf
	depends = procps-ng
	depends = sed
	depends = systemd
	depends = util-linux
	optdepends = binutils: --uefi option support
	optdepends = bluez: bluetooth (keyboard)
	optdepends = btrfs-progs: scan for Btrfs on block devices
	optdepends = busybox: allows use of busybox (on your own risk)
	optdepends = bzip2: bzip2 compression
	optdepends = cifs-utils: support CIFS
	optdepends = connman: support for connman networking
	optdepends = cryptsetup: support for encrypted with LUKS filesystems
	optdepends = dash: allows use of dash (on your own risk)
	optdepends = dhclient: legacy networking support
	optdepends = dmraid: dmraid dracut module support
	optdepends = e2fsprogs: ext2/3/4 filesystem support
	optdepends = elfutils: strip binaries to reduce initramfs size
	optdepends = f2fs-tools: fsfs filesystem support
	optdepends = fuse3: live on NTFS (dmsquash-live-ntfs module)
	optdepends = gzip: gzip compression
	optdepends = iproute2: legacy networking support
	optdepends = iputils: networking support
	optdepends = lvm2: support Logical Volume Manager
	optdepends = lzop: lzop compression
	optdepends = mdadm: support MD devices, also known as software RAID devices
	optdepends = multipath-tools: dmraid dracut module support
	optdepends = nbd: support network block devices
	optdepends = ndctl: NVDIMM support
	optdepends = networkmanager: networkmanager support
	optdepends = nfs-utils: support NFS
	optdepends = ntfs-3g: live on NTFS (dmsquash-live-ntfs module)
	optdepends = nvme-cli: NVMe-oF support (nvmf module)
	optdepends = open-iscsi: support iSCSI (iscsi module)
	optdepends = openssh: install ssh and scp along with config files and specified keys (ssh-client module)
	optdepends = pigz: faster gzip compression
	optdepends = plymouth: plymouth boot splash
	optdepends = rng-tools: enable rngd service to help generating entropy early during boot
	optdepends = sbsigntools: uefi_secureboot_cert/key configuration option support
	optdepends = squashfs-tools: support for building a squashed initramfs
	optdepends = tar: live tar image
	optdepends = tpm2-tools: tpm2 support for e.g. LUKS
	optdepends = xz: xz compression
	provides = initramfs
	backup = etc/dracut.conf
	source = dracut-060::git+https://github.com/dracut-ng/dracut-ng#tag=060
	sha512sums = 8dbdd67d0b86555aac4c2f315c809861c82358d3899ecdf3008e6203b9f32eac2e8a969fe972e9ce63316aeb0d3242e0e997d21c24bee8666ef3d3e7ddda067e
	b2sums = 41593a6205cf0a66ad49d903cf73e20b6a0b90628e185f93eb29d09df7d7dbcc342759901d204fb3d2c98ec6b8550ac14dbaef43c8243c0d9190b06a56a92a91

pkgname = dracut
